body{
    background-color:lightyellow;
}
.keyboard{
    height: 401px;
    width: 901px;
    border: 0.5px solid black;
    padding: 50px;
    margin-left: 160px;
    position: relative;
    box-sizing: border-box;
    margin-top: 100px;
}

/* PIANO */
.lower-container{
    position: relative;
    height: 201px;
    width: 901px;
    border: 0.5px solid black;
    margin-top: 148px;
    margin-left: -52px;
    box-sizing: border-box;
}
/* KEYS */
.white-key{
    position: relative;
    border: 0.5px solid black;
    width: 57.91px;
    height: 199px;
    white-space: nowrap;
    float: left;
    background-color: whitesmoke;
}

.black-key{
    width: 29px;
    height: 101px;
    position: absolute;
    z-index: 1;
    background-color: black;
    margin-left: 44.9px;
}

/* **************************** */

/* FILTERS & DISPLAY */

.upper-container{
    background-color: coral;
    height: 201px;
    width: 901px;
    box-sizing: border-box;
    position: absolute;
    border: black solid 1px;
    margin-right: -40px;
    margin-top: -50px;
    margin-left: -52px;
}