body{
    background-image: url('/src/assets/background/stars_3.jpg');
}
#background{
    background-color: teal;
    background-image: url('/src/assets/background/stars_1.jpg');
    height: 800px;
    margin: 30px;
}
#title{
    display: flex;
    justify-content: center;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 70px;
    margin: 1px;
    text-shadow: 1px 1px rgb(248, 84, 234), 2px 1px 10px yellow;

}
.keyboard{
    height: 401px;
    width: 900px;
    /* border: 0.5px solid black; */
    padding: 50px;
    margin-left: 160px;
    position: relative;
    box-sizing: border-box;
    margin-top: 100px;
    /* text-shadow: 0 0 3px #fffafa; */
}
/****************** Lower Deck *****************/

/* PIANO */
.lower-container{

    position: relative;
    height: 201px;
    width: 901px;
    /* border: 0.5px solid black; */
    margin-top: 148px;
    margin-left: -51px;
    box-sizing: border-box;
    border-radius: 0.5em;
    
}
/* KEYS */
.white{
    position: relative;
    border: 0.5px solid black;
    width: 57.91px;
    height: 199px;
    white-space: nowrap;
    float: left;
    background-color: grey;
    border-radius: 0.5em;
    margin-top: 2px;
}

.black{
    width: 29px;
    height: 101px;
    position: absolute;
    z-index: 1;
    border: solid 2px grey;
    background-color: black;
    margin-left: 44.9px;
    
}

/* ***************** Upper Deck *************** */

/* FILTERS & DISPLAY */

.upper-container{

    background-color: #ffbe99e5;
    height: 201px;
    width: 901px;
    box-sizing: border-box;
    border-radius: 0.5em;
    position: absolute;
    border: black solid 1px;
    margin-right: -40px;
    margin-top: -50px;
    margin-left: -52px;
}




/* Knobs */
.right{
    position: relative;
    width: 301px;
    height: 201px;
    margin-left: 598px;
    
}

.left{
    margin-top: -201px;
    position: relative;
    width: 301px;
    height: 201px;
    /* margin-bottom: -400px; */
}

.middle{
    position: absolute;
    width: 301px;
    height: 200px;
    margin-left: 298px;
    margin-top: -201px;
    justify-content: space-between;
}
.upper-pad{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
}
.lower-pad{
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
}

.fa-square.fa-5x{
     text-shadow: 0 0 15px #ff5e00fd;
}


#knob-1{
    margin-top: 10px;
    position: absolute;
}
#volume{
    margin-top: 5px;
    float: right;
}

.display{
    margin-left: 14px;
    margin-top: 14px;
    border: solid 3px;
    margin-right: 14px;
}

